.all {
    width: 98vw;
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#try {
    border: solid;
    border-radius: 0.8rem;
    height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#mag {
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 238, 160);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#bts {
    height: auto;
    width: 30rem;
    display: flex;
    justify-content: space-between;

}

.btn {
    width: 9rem;
    height: 2.5rem;
    background-color: #8c74ea;
    color: white;
    border: 0;
    border-radius: 0.2rem;
}

#hea {
    position: relative;
    bottom: 38%;

}

#new {
    background-color: rgb(238, 238, 160);
    height: 97vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#man {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#ans {
    width: 31rem;
    display: flex; 
     align-self: flex-start;
    height: 5rem;
}

#sel {
    width: 24rem;
}

#nec {
    background-color: rgb(238, 238, 160);
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#csv{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

table{
    border-collapse: collapse;
    width: 100%;
   
}

th,td{
    border: solid 0.1rem;
    text-align: center;
}

img{
    object-fit: cover;
    width: 10rem;
}

#adm{
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bta{
    width: 9rem;
    height: 2.5rem;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 0.2rem;
}

#bas{
    display: flex;
    justify-content: space-between;
    width: 23rem;
}

#bnw{
  position: relative;
  left: 40%;
  top: 0.5rem;
}

#tus{
 margin-top: 1rem;
}

#mau{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#nes{
    background-color: gray;
    height: 97vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int{
    width: 7rem;
    height: 2.2rem;
}

.sec{
    display: flex;
    align-items: center;
 
}

#her{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#rep{
    margin-top: 1rem;
}